.card {
    display: flex;
    width: 1000px;
    height: 200px;
    justify-content: space-around;
    border: 1px solid red;
    margin-top: 10px;
    /* align-items:flex-start */
}

.maincard {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  nav {
    background-color: #333;
    color: #fff;
    text-align: center;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Change to flex */
    justify-content: center; /* Center the items horizontally */
  }

  nav ul li {
    display: inline;
  }

  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
  }

  nav ul li a:hover {
    background-color: #555;
  }

  .simmer-conatiner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .simmer-card {
    width: 600px;
    height: 200px;
    margin: 20px;
    background-color: rgb(204, 198, 198);
  }